@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
footer{
    background: #1a1a1a;
    color: #9a9a9a;
    text-align: center;
    padding: 2em 4em;
    font-family: 'Poppins', sans-serif;
}