@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.list-item{
    background-color: #63cdda;
    border-radius: 8px;
    padding: 1em;
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    transition: 0.2s ease-in-out;
}

.list-item:hover {
    transform: scale(1.02)
}

.list-item input[type=checkbox] {
    transform: scale(2.5);
    margin-left: 0em;
}
